<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Sửa user</title>

	<!-- Custom fonts for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

	<!-- Page level plugin CSS-->
	<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<!-- Custom styles for this template-->
	<link href="css/sb-admin.css" rel="stylesheet">

</head>
<body>
	


	<div class="container">
		<div class="row text-center">
			<div class="col-sm-8 col-sm-offset-2">
				<h2>SỬA USER</h2>
				<form class="form-horizontal" action="/action_page.php" method="pót">

					<div class="form-group ">
						<label for="example-text-input" class="col-sm-2 col-form-label">Username</label>
						<div class="col-sm-8 ">
							<input  class="form-control"   type="text" name="user_name" placeholder="Nhập Username">
						</div>
					</div>
					<div class="form-group ">
						<label for="example-text-input" class="col-sm-2 col-form-label">Password</label>
						<div class="col-sm-8">
							<input class="form-control" type="password" value="" id="example-text-input" name="user_password" placeholder="Nhập Password">
						</div>
					</div>	
					<div class="form-group ">
						<label for="example-text-input" class="col-sm-2 col-form-label">Email</label>
						<div class="col-sm-8">
							<input class="form-control" type="email" value="" id="example-text-input" name="user_email" placeholder="Nhập Email">
						</div>
					</div>
					<div class="form-group">
						<label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Level</label>
						<div class="col-sm-8">
						<select class="form-control" id="exampleFormControlSelect1">
							<option name="level">1</option>
							<option name="level">2</option>
							<option name="level">3</option>							
						</select>
					</div>
					</div>


				</form>

			</div>
		</div>
	</div>



</body>
</html>








